# Auto detect text files and perform LF normalization
* text auto 

*.js text eol=crlf
*.md text eol=crlf
*.json text eol=crlf
*.ts text eol=crlf
*.json text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.txt text eol=crlf

Makefile text eol=crlf
LICENSE text eol=crlf

.gitattributes text eol=crlf
.gitignore text eol=crlf
.prettierrc text eol=crlf

# Specify binary files
*.woff2 binary
*.jpg binary
*.png binary
*.pdf binary
*.zip binary
*.gif binary
*.exe binary
*.rnote binary
*.ico binary
bun.lockb binary
